---
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import { SITE } from "../lib/consts";
---

<header
  class="fixed top-0 right-0 left-0 z-50 bg-neutral-100/75 py-5 saturate-200 backdrop-blur-sm dark:bg-neutral-950/25"
>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <a
        class="group relative block overflow-hidden font-semibold text-current transition-colors duration-300 ease-in-out hover:text-black focus-visible:text-black hover:dark:text-white focus-visible:dark:text-white"
        tabindex="0"
        href="/"
      >
        <span
          class="inline-block transition-all duration-300 group-focus-within:-translate-y-full group-hover:-translate-y-full"
        >
          {SITE.NAME}
        </span>
        <span
          class="absolute top-0 left-0 inline-block translate-y-full transition-all duration-300 ease-in-out group-focus-within:translate-y-0 group-hover:translate-y-0"
        >
          Home
        </span>
      </a>

      <nav class="flex gap-1">
        <Link href="/blog">blog</Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">projects</Link>
        <span>
          {`/`}
        </span>
        <Link href="https://resume.larsvanholland.dev/" external>resume</Link>
      </nav>
    </div>
  </Container>
</header>
