---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../lib/consts";

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="size-full overflow-y-scroll scheme-light dark:scheme-dark"
>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body
    class="flex size-full flex-col bg-neutral-100 font-sans text-black/70 antialiased dark:bg-neutral-950 dark:text-white/70"
  >
    <Header />
    <main class="py-28">
      <slot />
    </main>
    <Footer />
  </body>
  <!-- LarsVH -->
</html>
